@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logo {
    width: 100px;
}
body {
    color: #5a5454;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    background-color: rgb(129, 144, 228);
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}
/* nav-menu */
.main-nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 0;
    color: #fff;
    background-color: #1a1a35;
}
.main-nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-nav ul {
    display: flex;
    align-items: center;
}
.main-nav li {
    margin: 5px 20px;
    font-size: 22px;
}
.main-nav a {
    color: #fff;
}
.main-nav a:hover {
    color: #ccc;
    border-bottom: 2px solid #88b2ff;
}
/* title and image*/
.introducceContainer input:focus {
    outline: none;
}
.introducce {
    height: 500px;
    font-family: "Alata", sans-serif;
    position: relative;
    align-items: center;
    justify-content: center;
    /*  background-image: url("./fondologo.jpeg");
  background-repeat: no-repeat; */
    background: url("./fondologo.jpeg") no-repeat center center;
    z-index: 2;
}
.introducce .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.introducce h2 {
    color: rgb(224, 201, 246);
    margin-bottom: 22px;
    font-family: Alata, sans-serif;
    font-size: 25px;
}
.introducce h1 {
    font-size: 40px;
    letter-spacing: 3px;
    line-height: 1.7;
    font-weight: 400;
}
.introducce::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 2, 47, 0.9);
    z-index: -1;
}

.line {
    border-top: 5px solid rgba(1, 2, 47, 0.9);
    margin-bottom: 40px;
}

.searchTitle {
    font-size: 38px;
    background-color: #56567e no-repeat center center;
    font-family: "Merriweather", serif;
    padding: 10px 10px;
    margin: 0;
}

.SearchContainer input {
    background-color: rgb(50, 39, 90);
    border: 0;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    padding: 10px 15px;
    width: 100%;
}

.SearchContainer input:focus {
    outline: none;
}
.ChallengeContainer {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*   background-color: rgb(129, 144, 228); */
    padding-bottom: 15px;
    padding-top: 15px;
}

.Challenge {
    width: 450px;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: all 0.25s;
    color: white;
}

.Challenge:hover {
    background-color: rgb(255, 255, 255);
}

.Challenge img {
    height: 90%;
    width: 90%;
    border-radius: 15px;
}

.ChallengeContainer .hide {
    display: none;
}

.Challenge a {
    text-decoration: none;
    position: relative;
    top: 47%;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: white;
    margin: 10px 10px;
    padding: 5px 30px;
    border-radius: 50px;
    border-color: rgb(106, 37, 197);
    border-style: solid;
    color: black;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

.Challenge a:hover {
    color: #fcf0f0;
    background-color: rgb(83, 121, 245);
}

.Challenge:hover {
    background-color: rgb(184, 159, 241);
}

/* .Challenge img {
    height: 90%;
    width: 90%;
    border-radius: 15px;
}

.ChallengeContainer .hide {
    display: none;
} */

/* .Challenge a {
    text-decoration: none;
    position: relative;
    text-align: center;
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    margin: 10px 10px;
    padding: 5px 30px;
    border-radius: 50px;
    border-color: rgb(70, 50, 182);
    border-style: solid;
    color: rgb(143, 112, 230);
    font-size: 20px;
    text-decoration: none;
}

.Challenge a:hover {
    color: #fff;
    background-color: rgb(143, 112, 230);
} */
.projects h1 {
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
}

footer {
    background-color: black;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.social-icons {
    text-align: center;
    height: 50px;
}
.social-icons i {
    color: rgb(239, 241, 243);
    width: 42px;
    height: 42px;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    border-radius: 50%;
    margin: 10px 15px 0 15px;
}

.social-icons i:hover {
    background-color: rgb(46, 44, 45);
    transition: 0.5s;
}
.copyright {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
